server {
    listen 80;

    location /SECRET_PLACEHOLDER/ {
        alias /usr/share/nginx/html/;
        try_files $uri $uri/ /index.html;
    }

    location /SECRET_PLACEHOLDER/assets/ {
        alias /usr/share/nginx/html/assets/;
    }

    location /SECRET_PLACEHOLDER/glyphs/ {
        alias /usr/share/nginx/html/glyphs/;
    }
}